.mapping {
  width: 100%;
  background: #f8f8f8;
  min-height: 87vh;
  .bannertop {
    width: 10rem;
    font-size: 0px;
    img {
      width: 100%;
    }
  }
}
// 栏目标题
.title_all {
  width: 100%;
  height: 1.2rem;
  display: flex;
  align-items: center;
  position: relative;
  .span {
    display: block;
    width: 0.08rem;
    height: 0.4rem;
    background-color: #1280e1;
    border-radius: 0.04rem;
    margin-right: 0.173rem;
    color: #1280e1;
  }
  p {
    height: 0.387rem;
    font-family: "微软雅黑";
    font-size: 0.4rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.387rem;
    letter-spacing: 0rem;
    color: #222222;
  }
}
.content1 {
  width: 10rem;
  background-color: #ffffff;
  padding: 1px 0.4rem;
  box-sizing: border-box;
  margin: 0.267rem 0px;
  .title {
    width: 100%;
    font-family: PingFang-SC-Medium;
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.48rem;
    letter-spacing: 0rem;
    color: #666666;
    margin: -0.1rem 0;
  }
  .word {
    width: 9.2rem;
    height: auto;
    margin: 0.653rem 0 0.453rem 0;
  }
}
.content2 {
  width: 10rem;
  background-color: #ffffff;
  padding: 1px 0.4rem;
  box-sizing: border-box;
  margin: 0.267rem 0px;
  font-size: 0;
  .title {
    width: 100%;
    font-family: PingFang-SC-Medium;
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.48rem;
    letter-spacing: 0rem;
    color: #666666;
    margin: -0.1rem 0;
  }
  .word {
    width: 8.32rem;
    height: auto;
    margin: 0.55rem 0 0.72rem 0;
  }
}
.content3 {
  width: 10rem;
  background-color: #ffffff;
  padding: 1px 0.4rem;
  box-sizing: border-box;
  margin: 0.267rem 0px;
  font-size: 0;
  .title {
    height: 0.293rem;
    font-family: PingFang-SC-Medium;
    font-size: 0.293rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.293rem;
    letter-spacing: 0rem;
    color: #222222;
    text-align: center;
  }
  .word {
    width: 9.2rem;
    height: auto;
    margin: 0.4rem 0 1.333rem 0;
  }
  .word_botttom{
    margin: 0.4rem 0 0.667rem 0;
  }
}
.content4 {
  width: 10rem;
  background-color: #ffffff;
  padding: 1px 0.4rem;
  box-sizing: border-box;
  margin: 0.267rem 0px 0 0;
  .fourimg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    .fourimg {
      width: 4.4rem;
      height: 3.307rem;
    }
    .fourtitle {
      height: 0.333rem;
      font-family: PingFang-SC-Medium;
      font-size: 0.347rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.48rem;
      letter-spacing: 0rem;
      color: #222222;
      margin: 0.227rem 0 0.667rem 0;
    }
  }
}
