.mapping {
  width: 100%;
  background: #f8f8f8;
  min-height: 87vh;
  .bannertop {
    width: 10rem;
    font-size: 0px;
    img {
      width: 100%;
    }
  }
}
// 栏目标题
.title_all {
  width: 100%;
  height: 1.2rem;
  display: flex;
  align-items: center;
  position: relative;
  .span {
    display: block;
    width: 0.08rem;
    height: 0.4rem;
    background-color: #1280e1;
    border-radius: 0.04rem;
    margin-right: 0.173rem;
    color: #1280e1;
  }
  p {
    height: 0.387rem;
    font-family: "微软雅黑";
    font-size: 0.4rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.387rem;
    letter-spacing: 0rem;
    color: #222222;
  }
}
.content1 {
  width: 10rem;
  background-color: #ffffff;
  padding: 1px 0.4rem;
  box-sizing: border-box;
  margin: 0.267rem 0px;
  .con1_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      width: 5.527rem;
      font-family: PingFang-SC-Medium;
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.48rem;
      letter-spacing: 0rem;
      color: #666666;
    }
    .word {
      width: 3.307rem;
      height: 2.853rem;
      margin: 0.4rem 0 0.667rem 0;
    }
  }
  .con1_bottom {
    display: flex;
    justify-content: space-between;
    img {
      width: 2.667rem;
      height: 2rem;
    }
  }
}
.content2 {
  width: 10rem;
  background-color: #ffffff;
  padding: 1px 0.4rem;
  box-sizing: border-box;
  margin: 0.267rem 0px;
  .word {
    width: 9.2rem;
    height: auto;
    margin: 0rem 0 0.8rem 0;
  }
  .img2{
    width: 9.2rem;
    height: auto;
    margin: 0rem 0 0.2rem 0;
  }
  .title {
    width: 100%;
    font-family: PingFang-SC-Medium;
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.48rem;
    letter-spacing: 0rem;
    color: #666666;
    margin: -0.05rem 0 0.4rem 0;
  }
  .title1 {
    width: 100%;
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.48rem;
    letter-spacing: 0rem;
    color: #666666;
    margin: -0.05rem 0 0.2rem 0;
    text-indent: 0.4rem;
  }
  .title2 {
    width: 100%;
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.48rem;
    letter-spacing: 0rem;
    color: #666666;
    margin: -0.05rem 0 0.2rem 0;
  }
  .con2_title {
    width: 100%;
    font-family: PingFang-SC-Medium;
    font-size: 0.32rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.48rem;
    letter-spacing: 0rem;
    color: #666666;
  }
  .con2_word {
    width: 9.2rem;
    height: auto;
    margin: 0.553rem 0 1.267rem 0;
  }
}
.environment_second{
  width: 9.4rem;
  padding-bottom: 0.5rem;
  .environment_second_list{
    width: 4.467rem;
    height: 4.853rem;
    border: solid 0.013rem #e7e7e7;
    text-align: center;
    display: inline-block;
    margin-right: 0.2rem;
    margin-top: 0.3rem;
    .img{
      width: 4.467rem;
      height: 2.667rem;
      img{
        width: 4.467rem;
        height: 2.667rem;
      }
    }
    p{
      font-size: 0.347rem;
      color: #222222;
      margin: 0 auto;
      margin-top: 0.2rem;
      width: 4.2rem;
      overflow:hidden; 
      text-overflow:ellipsis; 
      white-space:nowrap; 
    }
    button{
      width: 2.213rem;
      height: 0.667rem;
      border: solid 0.013rem #1280e1;
      color: #1280e1;
      background: #fff;
      outline-style: none;
      cursor: pointer;
      font-size: 0.293rem;
      margin-top: 0.4rem;
    }
  }
}