.product {
  width: 100%;
  // background: #f8f8f8;
  min-height: 87vh;
  .bannertop {
    width: 10rem;
    font-size: 0px;
    img {
      width: 100%;
    }
  }
}
.content {
  width: 100%;
  // margin-top: 0.4rem;
  .list {
    width: 100%;
    height: 5.72rem;
    background-color: #fff;
    display: flex;
    .left {
      display: block;
      width: 10rem;
      height: 5.333rem;
      background: #1280e1;

      .left_img {
        width: 100%;
        height: 100%;
      }
    }
    .right {
      padding: 0px 0.4rem;
      // width: 5.6rem;
      box-sizing: border-box;
      .title {

        width: 5.3rem;
        height: 0.4rem;
        font-family: MicrosoftYaHei-Bold;
        font-size: 0.373rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.4rem;
        letter-spacing: 0rem;
        color: #222222;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; //作为弹性伸缩盒子模型显示。
        -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
        -webkit-line-clamp: 1; //显示的行
        margin: 0.667rem 0px 0rem;
      }
      .word {
        width: 5.12rem;
        height: 2.24rem;
        font-family: MicrosoftYaHei;
        font-size: 0.32rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.46rem;
        letter-spacing: 0rem;
        color: #666666;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box; //作为弹性伸缩盒子模型显示。
        -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
        -webkit-line-clamp: 5; //显示的行
        margin: 0.48rem 0;
      }
      .btn {
        width: 2rem;
        height: 0.64rem;
        background-color: #ffffff;
        border-radius: 0.107rem;
        border: solid 1px #1280e1;
        font-family: MicrosoftYaHei;
        font-size: 0.32rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.64rem;
        letter-spacing: 0rem;
        color: #1280e1;
        text-align: center;
      }
    }
  }
}
