.newsdetail {
  padding: 1rem 0.4rem;
  box-sizing: border-box;
  .title {
    width: 100%;
    font-family: PingFang-SC-Bold;
    font-size: 0.373rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: 0.533rem;
    letter-spacing: 0rem;
    color: #222222;
    text-align: center;
  }
  .center {
    height: 0.32rem;
    display: flex;
    justify-content: center;
    margin: 0.4rem 0px;
    .time {
      width: 1.9rem;
      height: 0.3rem;
      font-family: PingFang-SC-Medium;
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.32rem;
      letter-spacing: 0rem;
      color: #999999;
      overflow: hidden;
      align-items: center;
    }
    .line {
      width: 1px;
      height: 0.32rem;
      background-color: #999999;
      margin: 0px 0.267rem;
    }
    .num {
      height: 0.307rem;
      font-family: PingFang-SC-Medium;
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 0.32rem;
      letter-spacing: 0rem;
      color: #999999;
    }
  }
}
